In [1]:
import pandas as pd

In [2]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [5]:
scalar_series=pd.Series(data='Michael')

In [6]:
scalar_series

0    Michael
dtype: object

In [7]:
type(scalar_series)

pandas.core.series.Series

In [8]:
scalar_series[0]

'Michael'

In [9]:
type(scalar_series[0])

str

In [10]:
scalar_series=pd.Series(data='Michael', index=['Ogunkanmi'])

In [11]:
scalar_series

Ogunkanmi    Michael
dtype: object

In [12]:
scalar_series['Ogunkanmi']

'Michael'

In [13]:
names_list=['Michael','Timilehin','Pelumi']

In [15]:
list_series=pd.Series(data=names_list)

In [16]:
list_series

0      Michael
1    Timilehin
2       Pelumi
dtype: object

In [17]:
surname=['Ogunkanmi', 'Olabode', 'Adeosun']

In [18]:
list_series=pd.Series(data=names_list, index=surname)

In [19]:
list_series['Ogunkanmi']

'Michael'

In [20]:
list_series['Olabode']

'Timilehin'

In [21]:
list_series['Adeosun']

'Pelumi'

In [22]:
list_series

Ogunkanmi      Michael
Olabode      Timilehin
Adeosun         Pelumi
dtype: object

In [23]:
list_series.shape

(3,)

In [38]:
my_dict={'name':names_list,
'dept': ['CSE','AEC','ANB'],
'level': [300,400,500]}

In [39]:
my_data=pd.DataFrame(data=my_dict)

In [40]:
my_data

        name dept  level
0    Michael  CSE    300
1  Timilehin  AEC    400
2     Pelumi  ANB    500

In [46]:
my_data['name']

0      Michael
1    Timilehin
2       Pelumi
Name: name, dtype: object

In [48]:
my_data[['name','dept']]

        name dept
0    Michael  CSE
1  Timilehin  AEC
2     Pelumi  ANB

In [49]:
my_data.loc[2, 'name']

'Pelumi'

In [50]:
my_data.loc[0, 'name']

'Michael'

In [51]:
my_data.loc[0, ['name', 'dept']]

name    Michael
dept        CSE
Name: 0, dtype: object

In [52]:
my_data.iloc[2,0]

'Pelumi'

In [56]:
my_data.iloc[2,0:2]

name    Pelumi
dept       ANB
Name: 2, dtype: object